* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: "inherit";
	vertical-align: baseline;
	font-family:  "Segoe UI", 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Segoe UI", 'Roboto', sans-serif;
    height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*     */

.slide-container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 50px; 
}

.image-slide-container {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.slide-container i {
    color: rgb(65, 61, 61);
    z-index: 10;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-container i:hover {
    background-color: rgb(138, 131, 131);
}

.image-slide-container .prev-button {
    top: 350px;
    left: 50px;
}

.image-slide-container .next-button {
    top: 350px;
    right: 50px
}

.img-container {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.4s all ease;
}

.img-container.show {
    opacity: 1;
    transition: 0.4s all ease;
}

.img-container img {
    width: 100%;
}

.img-container span {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 20px;
    color: white;
    font-size: 13.6px;
    background: #0000006e;
}

.slide-order-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.slide-order {
    border-radius: 50%;
    background-color: rgb(126, 115, 115);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slide-order.active {
    background-color: rgb(65, 61, 61);
}

