* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: "inherit";
	vertical-align: baseline;
	font-family:  "Segoe UI", 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Segoe UI", 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*     */

.slide-container {
    margin-top: 100px;
}

.slide i {
    color: red;
    position: absolute;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer
}

.slide {
    display: flex;
    justify-content: center;
    position: relative;
}

.img-container {
    display: none;
    position: absolute;
}

.img-container span {
    position: absolute;
    top: 570px;
    left: 600px;
    color: white;
    font-size: 13.6px
}

.change-points {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px
}

.change-point {
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.img-container.active {
    display: block;
}